* {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.mb-3 {
    margin-bottom: 30px;
}

.course-img-size {
    width: 300px;
    height: 300px;
}

.admin-course {
    display: flex;
    justify-content: space-around;
}

.admin-course-box {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid black;
}

.list {
    display: grid;
    gap: 10px;
}

.list__wrapper {
    padding: 10px;
}

.list__wrapper-border {
    border: 1px solid black;
    border-radius: 5px;
}
