*{
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.mb-3 {
    margin-bottom: 30px;
}

.order-img-size {
    width: 300px;
    height: 300px;
}

.admin-order {
    display: flex;
    justify-content: space-around;
}

.admin-order-box {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid black;
}
